<div class="card">
    <img src="https://a-static.mlcdn.com.br/1500x1500/pc-gamer-facil-barato-completo-intel-core-i5-8gb-hd-500gb-geforce-2gb-monitor-19-kit-gamer-teclado-mouse-headset-facil-computadores/2eletroinfo/15202224080/31bceca4a30a55ef04b82f0e8a8b4629.jpeg" alt="aa" class="card img-top">
    <div class="card-body">
        <h5 class="card-title">Pc Gamer</h5>
        <h6 class="card-subtitle text-muted">R$ 1.500</h6>
        <span class="badge mb-1 bg-danger">
            40 Unidades restantes!
        </span>
        <p class="card-text text-truncate">
            Pc gamer de ultima geração
        </p>
        <button class="btn btn-sm btn-danger">Esconder Produto</button>
    </div>
</div>
