<div class="flex">
  <mat-card>
    <mat-card-title>Cadastro de Usuários</mat-card-title>
    <mat-card-content>
      <!-- INFORMAR QUE O O FORMULÁRIO SERA VALIDADE PELO TEMPLATE DRIVEN FORMS -->
      <!-- 'ngForm' informa que o formulário utilizara o método de validação do Template Driven Form -->
      <form action="#" #useForm="ngForm"> <!--A >#<  serve para criar uma variável dentro das propriedades-->
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input 
          type="text" 
          matInput 
          name="nome" 
          [(ngModel)]="dadosUsuario.nome"
          required
          minlength="4"
          #inputName=""
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Sobrenome</mat-label>
          <input 
          type="text" 
          name="sobrenome" 
          matInput 
          [(ngModel)]="dadosUsuario.sobrenome"
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input 
          type="email" 
          matInput name="email" 
          [(ngModel)]="dadosUsuario.email"
          >
        </mat-form-field >
        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input type="password" matInput name="senha" [(ngModel)]="dadosUsuario.senha">
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">Enviar</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>