<div class="container">
    <section>
        <div class="img-container">
            <img id="bp-img" src="assets/BP.jpg" alt="battle pass">
        </div>
        <div class="produt-data">
            <h2> Battle Pass 2022</h2>
            <p> description</p>
            <strong>U$29,99</strong>
        </div>
        <button>Adicionar ao Carrinho</button>

    </section>
    <section>
        <div class="img-container">
            <img id="bp-img" src="assets/BP.jpg" alt="battle pass">
        </div>
        <div class="produt-data">
            <h2> Battle Pass 2022</h2>
            <p> description</p>
            <strong>U$29,99</strong>
        </div>
        <button>Adicionar ao Carrinho</button>

    </section>
    <section>
        <div class="img-container">
            <img id="bp-img" src="assets/BP.jpg" alt="battle pass">
        </div>
        <div class="produt-data">
            <h2> Battle Pass 2022</h2>
            <p> description</p>
            <strong>U$29,99</strong>
        </div>
        <button>Adicionar ao Carrinho</button>

    </section>
    <section>
        <div class="img-container">
            <img id="bp-img" src="assets/BP.jpg" alt="battle pass">
        </div>
        <div class="produt-data">
            <h2> Battle Pass 2022</h2>
            <p> description</p>
            <strong>U$29,99</strong>
        </div>
        <button>Adicionar ao Carrinho</button>

    </section>
</div>