img {
    width: 300px;
}


.red {
    color :red;
    text-decoration: overline;
}

.green {

    color: green;
    text-decoration: underline;
}

.pink {
    color: pink;
    text-decoration: dashed;
}