<main class="container">
  <section class="search">
    <img src="/assets/github.svg" alt="Github">
    <form action="#" id="search-form" [formGroup]="MovieForm" (ngSubmit)="">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input type="text" matInput placeholder="Ex: frogs123" formControlName="username">
      </mat-form-field>
      <button mat-flat-button color="accent" matTooltip="Procurar Usuário" [disabled]="MovieForm.invalid">
        <mat-icon>search</mat-icon>
      </button>
    </form>
  </section>
</main>