 <!-- <p>{{ title }}</p>
 <p>{{ 11+5 }}</p>
 <p>O resultado da soma de 20+10 é {{somar(20,10)}}</p>
 <input [type]="tipoInput" [value]="title"> <button (click)="mudarTipoDoInput()">Mostrar/Esconder</button> -->
 <!-- <input type="number" placeholder="Digite o 1° numero"[(ngModel)] = "n1" name="valor1">
 <input type="number" placeholder="Digite o 2° numero"[(ngModel)] = "n2" name="valor2">
 <p>{{n1}}</p> -->
<!-- <div class="bg">
    <div class="ct">
    <button (click)="menosUm()">-</button>
    <p>{{valor}}</p>
    <button (click)="maisUm()">+</button>
    </div>
</div> -->

<body>
    
    <app-cartao></app-cartao>
    
</body>